/* CSS RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

// DRY
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.border-round {
  border-radius: 10px;
}

.box-shadow {
  box-shadow: 0 7px rgba(0, 0, 0, 0.15);
}

@mixin flex-centered() {
  justify-content: center;
  align-items: center;
}

// main css
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

// colors
$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);
$blue: hsl(248, 32%, 49%);
$darkBlue: hsl(249, 10%, 26%);
$grayishBlue: hsl(246, 25%, 77%);

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: $red;
  background-image: url(./images/bg-intro-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content {
  width: clamp(320px, 78%, 1220px);
  color: white;

  #main-header {
    flex: 1;
    justify-content: center;
    gap: 2rem;
    animation: fadein 1s ease-in-out;
    user-select: none;

    h1 {
      font-weight: 650;
      line-height: 1.2;
    }

    p {
      line-height: 1.6;
    }
  }

  #main-content {
    flex: 1.1;
    gap: 1.2rem;
    animation: fadein 1.5s ease-in-out;

    header {
      background-color: $blue;
      text-align: center;
      line-height: 1.5;
    }

    #login-content {
      background-color: white;

      #inputs-form {
        gap: 1rem;

        #inputs-container {
          gap: 1rem;

          input {
            width: 100%;
            padding: 1rem 1.5rem 0.8rem 1.5rem;
            font-weight: 600;
            border-style: none;
            border: 0.5px solid rgba(0, 0, 0, 0.268);
            border-radius: 5px;
            outline: none;
            transition: scale 0.2s ease-in-out;
          }

          input:focus {
            border: 0.5px solid black;
            scale: 1.03;
          }

          .error-message {
            max-width: 100%;
            margin-block: 0.5rem;
            text-align: end;
            font-style: italic;
            font-weight: 500;
            color: $red;
          }

          .error-icon {
            position: absolute;
            transform: translate(-50px, 12px);
          }

          .border-red {
            padding-right: 4rem;
            border-color: $red;
            border-width: 3px;
          }

          .border-red:focus {
            border: 3px solid $red;
          }
        }

        #submit-btn {
          padding: 1rem 1rem 0.8rem 1rem;
          background-color: $green;
          color: white;
          text-align: center;
          font-size: 0.9em;
          font-weight: 400;
          box-shadow: 0 3px rgba(25, 123, 28, 0.66);
          border-style: none;
          border-radius: 5px;
          white-space: nowrap;
          cursor: pointer;
          user-select: none;
          transition: scale 0.1s ease-in-out;

          p {
            max-width: 100%;
          }
        }

        #submit-btn:hover {
          background-color: hsl(154, 57%, 45%);
        }

        #submit-btn:active {
          scale: 1.05;
        }

        #terms {
          max-width: 100%;
          color: $grayishBlue;
          text-align: center;
          line-height: 1.8;
          user-select: none;

          span {
            font-weight: 600;
            color: $red;
          }

          span:hover {
            text-decoration: underline;
            cursor: pointer;
          }

          span:active {
            color: hsl(0, 56%, 54%);
            ;
          }
        }
      }
    }
  }
}

// animation
@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

//Media Queries
@media (min-width: 768px) {
  h2 {
    padding-inline: 1rem;
  }
}

@media (max-width: 768px) {
  h2 {
    padding-inline: 2.5rem;
  }
}

@media (min-width: 678px) {
  #content {
    gap: 5rem;
  }

  #main-content {
    header {
      padding-block: 1.2rem;
    }
  }

  #login-content {
    padding: 2.5rem 2.3rem 2.8rem 2.3rem;
  }
}

@media (max-width: 678px) {
  #content {
    flex-direction: column;
    margin-top: 3rem;
    gap: 1.5rem;

    #main-header,
    #main-content {
      padding: 1rem;
    }

    #main-content {
      header {
        padding-block: 1.1rem;
      }
    }

    #login-content {
      padding: 1.5rem;
    }

    h1,
    p {
      text-align: center;
    }
  }
}

@media (min-width: 426px) {
  h1 {
    font-size: 3.1rem;
  }

  #terms,
  .error-message {
    font-size: 0.75rem;
  }
}

@media (max-width: 426px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 14px;
    padding-inline: 3.5rem;
  }

  p,
  input {
    font-size: 12px;
  }

  #main-p {
    font-size: 16px;
  }
}